@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------GENERAL-----------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: Oswald;
}

#logo, #navigation {
    line-height: 75px;
}

/*-----------------------LOGO/HEADER-----------------------*/

#logo {
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    color: #e0dee4;
    font-size: 46px;
    padding-left: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    float: left;
}

/*-----------------------NAVBAR-----------------------*/

#navigation {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 3px;
    float: right;
}

#navigation li {
    margin-right: 30px;
    display: table-cell;
    float:left;
}

#navigation a {
    text-decoration: none;
    color: #ef0b33;
}

#navigation a:hover {
    border-bottom: 3px solid #0b41ac;
}

.active {
    border-bottom: 3px solid #0b41ac;
}

@media screen and (max-width: 767px) {
    #navigation {
        clear: left;
        float: left;
        display: block;
        align-items: center;
        float: none;
        padding-left: 20px;
    }
}

/*-----------------------MASTHEAD-----------------------*/

.masthead {
    padding: 70px 0 0 0;
}

.masthead-banner {
    background: url("../images/pexels-fidel-hajj-2814828.jpg") no-repeat center;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.masthead-banner-text {
    height: 300px;
    width: 600px;
    text-align: center;
    background: rgba(239, 11, 51, 0.2);
    color: #e0dee4;
    padding: 40px 0 40px 0;
    margin: auto;
    border-radius: 25px;
}

.masthead-banner-text h1{
    font-size: 80px;
    color: #fff
}

.masthead-banner-text h2 {
    font-size: 50px;
    color: #fff;
}

.masthead-banner-text h3 {
    font-size: 40px;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .masthead-banner-text {
        height: 180px;
        padding: 24px 0 24px 0;
    }
    .masthead-banner-text h1 {
        font-size: 40px;
    }
    .masthead-banner-text h2 {
        font-size: 30px;
    }
    .masthead-banner-text h3 {
    font-size: 20px;
    }
}

/*-----------------------ABOUT SECTION-----------------------*/

.about-section {
    background-color: #f8f9fa;
    margin-top: 30px;
    box-shadow: inset 0vw 5vw 5vw 0vw white; /* This line of code was researched and taken from - https://stackoverflow.com/questions/46135078/can-i-blur-the-border-of-a-div-css */
}

.about-section-text {
    color: #000;
    padding-top: 50px;
}
    

.about-image img {
    opacity: 0.4;
}

/*-----------------------GENERAL INFO-----------------------*/

.general-info {
    margin-top: 30px;
}